body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
}

.app {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  margin: 0 2rem;
}

.form-btn {
  display: flex;
  justify-content: end;
}

.form_grp {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.btn {
  width: 5rem;
  height: 2rem;
  background-color: blue;
  border-radius: 0.5rem;
  border: none;
  outline: 0;
}

.navbar {
  background-color: #b3b3b3;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 80px;
  align-items: center;
}

.qrscanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
